body {
    font-family: sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #7da9d2, #ffc371);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background:#c2bbb1;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

h1, h2 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
}

button {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #c82333;
}
